* {
    box-sizing: border-box
}

body {
    background-color:aqua;
}

.header {
    display: inline-block;
    flex-direction:row;
    /* background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTNwddJvEIFKYJm9-_F92J8wScbUce-9B3v3Q&usqp=CAU"); */
    background-repeat: no-repeat;
    background-size: cover;
}

.name {
    padding: 20px;
    font-family:'Arial', 'Helvetica', sans-serif;
    background-color:blueviolet;

}

.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.ul {
    display: inline-block;
}
